
<h1>FUCKING UGLY BACKEND</h1>
<hr>
<h3>
	<%= @visits  %>
</h3>
<hr>
<%= form_for [ @location, @visit ] do |f| %>
<%= f.label :user_name %>
<%= f.text_field :user_name %>
<br/>
<%= f.datetime_select(:from_date, default: Time.now + 1.days) %>
<br/>
<%= f.datetime_select(:to_date, default: Time.now + 1.days) %>
<br/>
	<%= f.submit "Save" %>
<% end %>
