
<h1>FUCKING UGLY BACKEND</h1>
<hr>

<% @location.each do |location| %>
	<ul>
  		<li><a href=“<%= location_visits_path(location) %>”>
 			<%= location.name %>
  		</a></li>
  	</ul>
  	<% end %>


 <% if location.name.present? %>
 	<%= link_to location.name, location_visits_path(location) %>
 	<%= location.city %>
 <% else %>
 	<%= link_to location.city, location_visits_path(location) %>
 <% end %>




